{% extends 'base.html' %}
{% load static %}

{% block title %}<title>About Me</title>{% endblock %}

{% block content %}
  <h2>Acerca de Mí</h2>
  <p>Hola, soy Santino Scotton.</p>
  <p>Soy un estudiante del colegio La Salle Florida, tengo 18 años y me encanta la programación.</p>
  <p>Me gusta aprender, jugar a los videojuegos, pasar tiempo con amigos, ir al gym y jugar al football.</p>
  <p>En mi tiempo libre, disfruto aprender nuevas tecnologías y trabajar en proyectos personales.</p>
  <p>¡Gracias por visitar mi página!</p>
{% endblock %}
