{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Buscar Celular</title>{% endblock %}
{% block content %}
  <h2>Buscar Celular</h2>
  <form action="{% url 'app:buscar_celular' %}" method="get">
    {{ form.as_p }}
    <button type="submit">Buscar</button>
  </form>
 
  {% if celulares %}
  <ul>
    {% for celular in celulares %}
      <li>{{ celular }}  
        | <a href={% url "app:ver_celular" celular.id %}>Ver mas</a>|
        | <a href={% url "app:editar_celular" celular.id %}>Editar</a>|
        | <a href={% url "app:eliminar_celular" celular.id %}>Eliminar</a>|
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No hay celulares registrados</p>
  {% endif %}
{% endblock %}




